.social-login
  button.social-login__github
    a(href=routes.github)
      span
        i.fab.fa-github
      |Continue with Github
  button.social-login__facebook
    span
      i.fab.fa-facebook
    |Continue with Facebook