extends layouts/main

block content
  .form__container
    form(action="/join", method="POST")
      input(type="text", name="name", placeholder="Name")
      input(type="email", name="email", placeholder="Email")
      input(type="password", name="password", placeholder="Password")
      input(type="password", name="verifyPassword", placeholder="Verify Password")
      input(type="submit", value="Join Now")
    include partials/socialLogin
      
    