extends layouts/main
include mixins/videoBlock

block content
  .search__header
    h3 Searching for: #{searchingBy}
  .search__videos
    if videos.length < 1
      h5 No Videos Found
    each video in videos
      +videoBlock(video)