extends layouts/main

block content
  .form-container
    form(action=`${routes.users}${routes.changePassword}`, method="POST")
      input(type="password", name="currentPassword", placeholder="Current Password")
      input(type="password", name="newPassword", placeholder="New Password")
      input(type="password", name="verifyNewPassword", placeholder="Verify New Password")
      input(type="submit", value="Change Password")